extends layout

block content
  h1= title
  p Welcome to #{title}
  p Headers:
  p #{headers}
  p Login
  a(href='/.auth/login/google') Log in with Google
  p Logout
  a(href='/.auth/logout') Logout

